.box{
    
    width: 408px;
    height: 314px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        font-size: 20px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        flex-wrap: wrap;

      
    .content-box p{
        font-size: 20px;
        color: #00416B;
        text-align: center;
        padding-bottom: 10px;
        font-family: otfPlain;
        font-weight: 600;
        width: 272px;
    }

    .box-btns{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    }
    .box-btns.forget{

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        }
  
    .box-btn{
        width: 115px;
        height: 52px;
        color: #fff;
        font-size: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EDAA43;
        border-radius: 10px;
        margin-top: 10px;
    
    }

    .signUp-btn{
        background-color:$main-color;
       a{
           text-decoration: none;
           color: #fff;
       }
    }
    div:focus {
        outline: 4px solid #EDAA43;
      }
      
    

}
