.navbar {
  width: 100%;
  height: 133px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0; 
  padding-left: 50px;
  padding-right: 50px;
  font-family: otfPlain;
  font-weight: 600;
  border-bottom: 2px solid $main-color;

}

.ltr .navbar{
  direction: ltr;
}

li{
  list-style: none;
  cursor:pointer
  span {
    text-decoration: none;
    font-family: otfPlain;
    font-weight: 600;
  }
} 

.main-nav-items{
    display: flex;
    align-items: center;
    font-family: otfPlain;
    font-weight: 600;
    margin-right: -68px;
    cursor:pointer



}

.main-nav-items span,
.add-adds-tilte,
.lang-title
{
  color: $main-color;
  margin-right: 86px;
  font-size: 24px;
  cursor:pointer


}
.logo {
  margin-left: 157px;

}

.logo-img{
  margin-left: -157px;
  margin-right: 57px;
  width: 194px;
  height: 220px;
}


.lang-title{
  position: relative;
  &.showMenu{
    display: blok;
  }
}
.select-lang-items
 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $main-color;
  height: 93.72px;
  width: 164px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  top: 49px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 10;

}
.select-lang-items li,
.add-adds-items li{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-lang-items li:hover,
.add-adds-items li:hover{
  background-color: $second-color;
}

.add-adds-items{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:$main-color;
  height: 68.72px;
  width:210.87px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  top: 50px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 10;

}
.add-adds-items li span{
  color: #fff;
  margin-top: 5px;
  font-size: 20px;
  font-weight: normal;
  margin: 1px auto;


}


.select-lang-items li,
.add-adds-items li{
  margin-top: 7px;
  font-size: 20px;
  font-family:otfPlain;
  cursor: pointer;
  font-weight: normal;
}


 .select-lang-menu.active{
  background-color: $main-color;
  width: 150.78px;
  height: 55.72px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
    cursor: pointer;

}
.activeNav{
  background-color: $main-color;
  width: 150.78px;
  height: 55.72px;
  border-radius: 5px;
  display: flex;
  margin-left: -32px;
  align-items: center;
  justify-content: center;
  margin-right: 43px;
  cursor: pointer;
}

 .add-adds-menu{
  background-color: $main-color;
  width:210.87px;
  height:55.72px;
  border-radius:5px ;
  display: flex;
  align-items: center;
  justify-content: center;

 }
.select-lang-menu{
  width: 150.78px;
  height:55.72px;
  border-radius:5px ;
  display: flex;
  align-items: center;
  justify-content: center;

}
.select-lang-menu ,
.add-adds-menu {
margin-right: 20px;
font-weight: normal;
position: relative;

}

.add-adds-tilte img{
  position: absolute;
  width: 27px;
  height: 27px;
  right: 14px;
  top: 11px;
}
//////////////////////////////////////////////
.add-adds-menu span,
.select-lang-menu span.active{
color: #fff;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 6px auto;
cursor: pointer;
font-family: otfPlain;
font-weight: 600;
margin-left: -35px;



}

.select-lang-menu span{
color: $main-color;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 10px auto;
cursor: pointer;
font-family: otfPlain;
font-weight: 600;


}
.select-lang-menu,
.add-adds-menu{
justify-content: center;
align-items: center;
flex-direction: column;
margin: 10px auto;
}

.select-lang-menu,
.add-adds-menu.show{
  border: 2px solid #fff;
  border-radius: 10px;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.add-adds-menu {
  border: 2px solid #fff;
  border-radius: 10px;

}

span.active{
  color:#fff ;
 font-size: 24px;
margin: 10px auto;
font-weight: 600;

}

.second-nav-items{
  display: flex;
  align-items: center;
}

.second-nav-items span.active{
  color:#fff ;
 font-size: 20px;
font-weight: 600;
margin: 10px auto;

}

.ltr .second-nav-items span.active{
  color:#fff ;
 font-size: 24px;
font-weight: 600;
margin: 10px auto;

}


.second-nav-items span{
  color: $main-color;
  font-size: 24px;
  margin-left: 5px;
  margin-right: -28px;
  cursor:pointer
}

.add-adds-menu span.shortcutNav,.second-nav-items span.shortcutNav{
  color: #fff;
  font-size: 24px;
 
}

.second-nav-items div{
  margin-left: 30px;
  flex-direction: row;
}

.hidden{
  display: none;
}

///banner
.banner{
  width:100% ;
  height: 347px;
  background-color:$main-color ;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-title{
    font-size:50px ;
    color: #fff;
    font-family: otfPlain;
  }
}

.lang-title img{
  position: absolute;
  width: 1px;
  height: 12px;
  right: 64px;
}


.fallback-logo,.fallback-container{
  display: none;
}

.arrowUp-nav,.arrowDown-nav{
  position: absolute;
  display: none;
  z-index: 10;
}



.fallBack-dropDownNav{
  display: none;
}

li.activeNavFall{
  background-color: $second-color;
}

.addOfficeAddSerivce{
  display: flex;
  flex-direction: row;
  margin-left: unset;
  z-index: 3;
}
.ltr{
.second-nav-items{
  margin-right: unset;
    margin-left: unset;
    padding-left: unset;
    padding-right: unset;
}
.addOfficeAddSerivce{
flex-direction: row-reverse;

}
}

.ltr .lang-title img{
top:9px;
  right: -15px;
}

.ltr   .select-lang-items{
    width: 160.78px;
    img{
      top: 9px;

    }
  }




// media
@media (max-width:1600px) {

  .navbar {
    width: 100vw;
    height: 133px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; 
    padding-left: 59px;
    padding-right: 59px;
    font-family: otfPlain;
    font-weight: 600;
        border-bottom: 2px solid $main-color;
  
  }

  
  .main-nav-items{
      display: flex;
      align-items: center;
      font-family: otfPlain;
      font-weight: 600;
      margin-right: -38px;
  
  
  
  }
  .main-nav-items span,
  .lang-title
  {
    color: #00416B;
    margin-right: 58px;
    font-size: 22px;
  

  
  }

  .add-adds-tilte{
    font-size: 16px;
    margin-right: 34px; 

   
}
   
  .logo {
    margin-left: 157px;
  
  }
  
  .logo-img{
    margin-left: -172px;
    margin-right: 15px;
    width: 125px;
    height: 210px;
  }

.ltr .logo-img{
  margin-left: -204px;
  margin-right: 29px;
}
 
  .select-lang-items
   {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00416B;
    height: 81.72px;
    width: 127.87px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    top: 42px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

   
  }

  
  .select-lang-items li:hover,
  .add-adds-items li:hover{
    background-color: $second-color;
  }
  
  .add-adds-items{
   position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00416B;
    height: 79.72px;
    width: 145.87px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    top: 44px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .add-adds-items li span{
    color: #fff;
    margin-top: 5px;
    font-size: 16px;
    margin: 1px auto;
  
  
  }
  
  
  .select-lang-items li,
  .add-adds-items li{
    margin-top: 8px;
    font-size: 18px;
    font-family: otfPlain;
    cursor: pointer;
  }
  
  
   .select-lang-menu.active{
    background-color: $main-color;
    width: 127.78px;
    height: 48.72px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
  
  }
  
  .activeNav{
    background-color: #00416B;
    width: 88.78px;
    height: 40.72px;
    border-radius: 5px;
    display: flex;
    margin-left: -49px;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    cursor: pointer;
    margin-left: -19px;
  }
  
   .add-adds-menu{
    background-color: #00416B;
    width: 145.87px;
    height: 50.72px;
  
   }
  .select-lang-menu{
    width: 150.78px;
    height:55.72px;
    border-radius:5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
   
  
  }
  .select-lang-menu ,
  .add-adds-menu {
  margin-right: 20px;
  font-weight: normal;
  position: relative;
  
  }
  
  .add-adds-menu span,
  .select-lang-menu span.active{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-right: -7px;
    
  
  
    }
     .select-lang-menu span.active {
    margin-right:39px;
  
  }
  .ltr .select-lang-menu span.active {
    margin-right: 25px;
  }
  
  .select-lang-menu span{
    color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
  }
  .select-lang-menu,
  .add-adds-menu{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  }
  
  .select-lang-menu,
  .add-adds-menu.show{
    border: 2px solid #fff;
    border-radius: 10px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .add-adds-menu {
    border: 2px solid #fff;
    border-radius: 10px;
  
  }
  
  span.active{
    color: #fff;
    font-size: 17px;
    margin: 10px auto;
    font-weight: normal;
  
  }
  
  // .second-nav-items{
  //   display: flex;
  //   align-items: center;
  
  // }
  
  // .second-nav-items a{
  //   color: $main-color;
  //   margin-left: -26px;
  //   font-size: 18px;
  // }
  
.add-adds-menu span.shortcutNav,.second-nav-items span.shortcutNav{
  color: #fff;
  font-size: 19px;
  margin-right: -11px;
  margin-left: -7px;
}

.ltr .add-adds-menu span.shortcutNav{
 
  margin-right: -49px;
}
.second-nav-items span.shortcutNav{

  margin-right: -9px;
}

.ltr .second-nav-items span.shortcutNav{

  margin-right: -39px;
}

.add-adds-menu .add-img-btn{
  margin-top: 4px;
}

 .second-nav-items div{
    margin-left:  -1px;
  }
  .ltr .second-nav-items div{
    margin-left: 30px;
  }
  
  .hidden{
    display: none;
  }

  .add-adds-tilte img {
    position: absolute;
    width: 21px;
    height: 23px;
    right: 11px;
    top: 12px;
}
  
  ///banner
  .banner{
    width:100vw;
    height: 347px;
    background-color:$main-color ;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .banner-title{
      font-size:40px ;
      color: #fff;
      font-family: otfPlain;
    }
  }
  
 .lang-title img{
   
  position: absolute;
  width: 12px;
  height: 12px;
  right: 57px;
  top: 9px;
 }

 .lang-title.active img{
   
  position: absolute;
  width: 12px;
  height: 12px;
  right: 53px;
  top: 9px;

 }
  

 .ltr{
  .second-nav-items{
    margin-right: unset;
      margin-left: unset;
      padding-left: unset;
      padding-right: unset;


  }
  .addOfficeAddSerivce{
  flex-direction: row-reverse;

  li{
    margin-left:-44px;

  }

  }

  .lang-title.active img{
    right: -17px;
  
   }
    
  }



  .ltr .select-lang-items {
    width: 166px;
  }

  
    .ltr .actions{
      padding-right: 9px;
      padding-left: 35px;
    }
    .actions{
      padding-left: 9px;
      padding-right: 35px;
    }

}


@media (max-width:1120px) {


  .navbar {
    padding-left:25px ;
  }
  .logo-img{
    margin-left: -157px;
    margin-right: -7px;
    width: 131px;
    height: 203px;

    
  }

  .main-nav-items span, .lang-title{
    margin-right: 39px;
}

.activeNav {
  background-color: #00416B;
  width: 88.78px;
  height: 40.72px;
  border-radius: 5px;
  display: flex;
  margin-left: -49px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
  padding-left: 32px;
  margin-left: -11px;
}  
 
.add-adds-menu span, .select-lang-menu span.active {
  margin-right:39px;

}


  .add-adds-menu span.add-adds-tilte{
    margin-right: -48px;


}
.second-nav-items{
  margin-left: -32px;
}


.ltr .fallback-container{

  flex-direction: row-reverse;

  } 

  
.ltr .drop-nav-container img{
  padding-right: 10px;

}

.ltr .lang-arr{
  right: 0;
}

.ltr .main-nav-items{
  font-size: 22px;
}

.ltr .main-nav-items{
  margin-right: -123px;
}

.ltr .logo-img{
  margin-left: -224px;
  margin-right: 24px;
}

 .logo-img{
  width: 121px;
}

.ltr .second-nav-items {
  margin-right: -43px;
}

.ltr .navbar {
padding-left: 66px;}




.ltr .actions{
  padding-right: 9px;
  padding-left: 35px;
}
.actions{
  padding-left: 9px;
  padding-right: 35px;
}




}


@media (max-width:1200px) {
  .second-nav-items div {
    margin-left: 33px;
}
}

@media (max-width:1030px) {

   .main-nav-items,.second-nav-items{
     display: none;
   }
   .fallback-logo{
     display: block;
   }

   .fallBack-dropDownNav{
     display: block;
   }
   .banner{
    display: none;
  }
   
  .actions-contaier{
    .actions{
      margin-top: 0;

      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   
       
    }
  }
   .arrowUp-nav{
    display: block;
    top: 130px;
    right: 26px;
    width: 27.29px;
    height: 21.6px;
  }
  
  .arrowDown-nav{
    display: block;
    top: 580px;
    right: 26px;
    width: 27.29px;
    height: 21.6px;
    z-index: 10;
  }
  
   .fallback-container{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     .add-menus-profile{
       span{
         position: absolute;
         z-index: 1001;
         top: 41px;
         right:25px ;

       }
      .add-adds-items{
       z-index: 100;
        top: 59px;
        right: 24px;
    
      }
     }
     
   }

   .logo-img {

    margin-right: 0; 
    width: 179px;
    height: 207px;
   }
   


   .drop-nav-container{
    position: relative;
    .fallBack-drop-nav{
      position: absolute;
      background-color: #00416B;
      width: 100vw;
      height: 450px;
      z-index: 100;
      border-bottom: 7px solid #EDAA43;
     padding: 20px;
      a,span{
        color: #fff;
        margin-bottom: 20px;
        font-size: 20px;
  
      }
    }
  
    .fallBack-drop-nav{
      position: absolute;
      background-color: #00416B;
      width: 100vw;
      z-index: 100;
     padding: 20px;
  li{
    margin-bottom: 20px;
    height: 45px;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
   img{
     padding-left: 5px;
   }
  
  
  }
  
  
  
  li.active,
    li:hover{
      background-color: $second-color;
    }
      a,span{
        color: #fff;
        margin-bottom: 20px;
        font-size: 20px;
  
      }
    }
  
    .arrowUp-nav{
      display: block;
      top: 130px;
      right: 26px;
      width: 27.29px;
      z-index: 10;
      height: 21.6px;
    }
  
    .arrowDown-nav{
      display: block;
      top: 580px;
      right: 26px;
      width: 27.29px;
      height: 21.6px;
      z-index: 10;
    }
  
  
  
    .switch-lang{
      position: relative;
      height: 80px;
        padding-bottom: 50px;
        background-color: $second-color;
        border-radius: 10px;
        cursor: pointer;
  
        // width: 96.1vw;
        li{
          // color: #fff;
          // font-size: 13px;
          // margin-top: 0;
          // margin-right: 16px;
          // margin-left: 20px;
          // width: 97%;
          // margin-bottom: 2px;
          // height: 30px;
          // padding: 5px;
          // padding-left: 16px;
          // padding-bottom: 2px;
          // cursor: pointer;
          color: #fff;
          font-size: 16px;
          margin-top: 4px;
          width: 94%;
          margin-bottom: 2px;
          height: 30px;
          padding: 5px;
          padding-bottom: 22px;
          cursor: pointer; 
          
          padding: 5px;
          padding-right: 30px;
        
  
        }

  
        
  
  
        li:hover{
          background-color: $main-color;
        }
  
  
    }

     
         
  
    
    .fallBack-drop-nav {
      a,span{
        cursor: pointer;
  
      }
      .switch-lang-li{
      margin-bottom: 20px;
      height: auto;
      border-radius: 10px;
      padding: 0;
      cursor: pointer;
  
           a,span{
            color: #fff;
            margin-bottom: 20px;
            font-size: 20px;  
            cursor: pointer;
           }
      li{
        margin-bottom: 20px;
        height: 110px;
        border-radius: 10px;
        padding: 0;
    
      }
    }
  
  
  
 
    
      
   
   
  
  }
  
 
  }
  .ltr .drop-nav-container .switch-lang li{
    padding-left: 30px;
  }
    
  .ltr .logo-img {
    width:188px;
  }


  .ltr .fall-lang li{
    margin-left: 5px;
  }

.fall-lang li{
  margin-right: 5px;
}
}

@media (max-width:482px) {
  .banner{
    display: none;
  }
   
 



  .fallBack-drop-nav{
    position: absolute;
    background-color: #00416B;
    width: 100vw;
    z-index: 100;
   padding: 20px;
li{
  margin-bottom: 20px;
  height: 45px;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  
  img{
    
    padding-left: 10px;

  }


}

li.active,
  li:hover{
    background-color: $second-color;
  }
    a,span{
      color: #fff;
      margin-bottom: 20px;
      font-size: 20px;

    }
  }
  .arrowUp-nav{
    display: block;
    top: 130px;
    right: 26px;
    width: 27.29px;
    height: 21.6px;
    z-index: 10;
  }

  .arrowDown-nav{
    display: block;
    top: 531px;
    right: 26px;
    width: 27.29px;
    height: 21.6px;
    z-index: 10;
  }





  
  .fallBack-drop-nav {
    .switch-lang-li{
    margin-bottom: 20px;
    height: auto;
    border-radius: 10px;
    padding: 0;
    width: 100%;
    cursor: pointer;
         span,a{
          color: #fff;
          margin-bottom: 20px;
          font-size: 20px;  
          cursor: pointer;
         }
    li{
      margin-bottom: 20px;
      height: 110px;
      border-radius: 10px;
      padding: 0;
      width: 100%;
      cursor: pointer;
    }
  }
}

.drop-nav-container .fallBack-drop-nav{
  height: 402px;



}
.actions-contaier .actions{
  padding-right: 20px;
  padding-left: unset;
}
}

  .lang-arr{
    position: absolute;
    right: 95%;
    top: 10px;
    padding-left: 10px;
  
  }


