.profile-tab{
    .category-icon{
        position: absolute;
                left: 540px;
                top: 33%;
                 z-index: 10;
               cursor: pointer;
    }
    .type-icon{
        top:27.4%;
    }
    .dropdown-category,
    .dropdown-typeList{
        width: 909px;
        height: 103px;
        background-color: $main-color;
        padding-top: 10px;
        color: #fff;
        border-radius: 10px;
        position: absolute;
        z-index: 10;
         li{
             margin-top: 10px;
             cursor: pointer;
             font-size: 20px;
             padding-right: 10px;
         }
    
         li.active-category,
         li:hover{
             background-color: $second-color;
         }



    }
    
    .dropdown-typeList{
        width: 908px;

        cursor: pointer;
        li{
            margin-top: 15px
        }
        li.active-type,
        li.active-city,
        li:hover{
            background-color: $second-color;
        }
        height:fit-content;
        padding: 8px;

    }

   .map-adds{
    width: 911px;
    height: 202px;
    border-radius: 10px;
    border-color: $main-color;
 
   }

   .map-adds>* div{
    border-radius: 10px;
    padding: 0;
}


.checksbox{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .chack-groub{
        margin-bottom: 15px;
        margin-right: -450px;
        span{
            padding-right: 8px;
            font-size: 20px;
            color: $main-color;
            font-family: otfPlain;
            font-weight: 600;
        }

   
    }

    .chack-groub:last-child{
        margin-top: 46px;
    }
}
}

.shoUploadedImages{
    margin-top: 20px;
    margin-bottom: 120px;
    width: 246px;
    height: 246px;}


.uploadedImage{
position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;


    .img-submite{
        width: 200px;
        height: 200px;
        margin: 5px;
        margin-right: 40px;

    }
}


.ltr{
    .profile-tab .checksbox .chack-groub{
        margin-bottom: 15px;
        margin-right: 0;
        margin-right: 19%;
        width: 351px;
    }


    .profile-tab .checksbox .chack-groub span{
        padding-left: 8px;
    }

    .profile-tab .checksbox {
        width: 66vw;
    }

}



.catergory-add-arrow,.add-type-arrow,.city-add-arrow{
    position: absolute;
    left: 4%;
    bottom: 29px;
}

.ltr {
    .catergory-add-arrow,.add-type-arrow,.city-add-arrow{
        position: absolute;
        left:95%;
        bottom: 29px;
    }
}


@media (max-width:428px) {
    .uploadedImage .img-submite {
        width: 150px;
        height: 134px;
        margin: 5px;
        margin-right: 30px;
    }
}


@media (max-width:950px) {
    
   .profile-tab .map-adds{
    width: 70vw;
    height: 202px;
    border-radius: 10px;
    border-color: $main-color;
 
   }

}

// @media (max-width:800px) {
//     .profile-tab .checksbox {
//         display: flex;
//         justify-content: flex-start;
//         align-items: flex-start;
//         flex-direction: column;
//         margin-right:61%;
//     }
    
    
// }

@media (max-width:428px) {
    .profile-tab .checksbox {
        display: flex;
    
        flex-direction: column;
        margin: 10px auto;
    }
    .ltr .catergory-add-arrow, .ltr .add-type-arrow, .ltr .city-add-arrow {
        left: 87%;
    }
    
}