.premuim-add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 914px;
    height: 172px;
    background-color: $background-color;
    border: 1px solid $main-color;
    border-radius: 10px;
    flex-direction: column;
    font-family: otfPlain;
    position: relative;
    margin-bottom: 25px;
    font-weight: 600;
    cursor: pointer;
}
.regular{
    width: 914px;
    height: 112px;
    .info{
        display: flex;
        right: 707px;
        position: absolute;
        top: 8px;
    }
}

.premuim-add.origin::after{
    content: "مميز";
    width: 77px;
    height: 35px;
    background-color: $main-color;
    color: #fff;
    position: absolute;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    left: -9px;
    top: -8px;
    font-family: otfPlain;

}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.details-adds{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adds-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:60px;

}

.premium-title{
    color: $main-color;
    font-family: otfPlain;
        font-size: 24px;
        padding: 15px;
        display: flex;
        margin-right: -766px;
        margin-bottom: 12px;
}
.estat-details{
    display: flex;
    margin-right: -189px;
    flex-direction: column;
    padding-right: 6px;
    margin-top: -23px;
  
}

.img-add{
    margin-right: -446px;
}

.regular .img-add{
   
    margin-top: 10px;
    margin-right: -94px;
}
.regular .estat-details{
    margin-right: 15px;
}
.details-adds .img-add img{
    width: 94px;
    height: 94px;
    border-radius: 6px;
}


.img-add img{
    width: 93px;
    height: 93px;
    border-radius: 6px;
}

.details-adds .info{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 5px;
    right: 282px;
    top: -40px;
}

.regular .disc{
    font-size: 18px;
    margin-left: 7px;
    padding: 0;
    
}
.card-title{
    color: $main-color;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.details-adds .card-title{
    color: $main-color;
    font-size: 24px;


 
}

.address{
    font-size: 14px;
    color: #737373;
}

.location-add-icon img{
    width: 12px;
    height: 12px;

    margin-left: 6px;

}


.price{
    margin-left: -8px;
    font-size: 20px;
    color: $main-color;
    font-family: 'otfPlain';
    font-weight: bold;
.number{
    margin-left: 5px;
}

}
.info{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 5px;
}

.time{

        display: flex;
        font-size: 20px;
        color: #737373;
    position: absolute;
    right: 105px;

    .number{
        display: flex;
        margin-left: 5px;
    }
}
.address-time-icon img{
    width: 15.18px;
    height: 15.18px;
    margin-left: 3px;
}

.views{
    display: flex;
    font-size: 20px;
    color: #737373;
    position: absolute;
    right: 220px;
    justify-content: space-around;
    align-items: center;
    .number{
        font-size: 20px;

        
    }
}
.address-views-icon{
    margin-left: 5px;
}
.address-views-icon img{
    width:16.62px;
    height: 15.59px;
    color: #737373;
  
}

.disc{
    color: #737373;
    font-size: 18px;
    padding: 5px 13px;
}

.contact-details{
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: relative;
    .whatsApp {
        width: 167px;
        height: 29px;
        position: absolute;
        background-color: $main-color;
        right: 252px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: otfPlain;
        font-size: 20px;
   

        .whatsApp-icon img{
            width: 20px;
            height: 20px;
            margin-left: 10px;
            margin-top: 6px;
          
        }
    }
    .phone{
        width: 167px;
        height: 29px;
        position: absolute;
        background-color: $main-color;
        right: 75px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: otfPlain;
        font-size: 20px;
        .address-phone img{
            width: 16px;
            height: 15px;
            margin-left: 10px;
            margin-top: 6px;
        }
        
    }


 
}

@media (max-width:1600px) {
    .premuim-add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6ECEF;
    border: 1px solid #00416B;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    margin-bottom: 25px;

  
}

.regular{
    width: 914px;
    height: 112px;
    .info{
        display: flex;
        right: 707px;
        position: absolute;
        top: 8px;
    }

    .address {
        font-size: 14px;
        margin-bottom: 11px;
    }
}

.regular .disc {
    font-size: 18px;
    margin-left: -2px;
    padding: 0;
}

.details-adds .card-title {
    font-size: 20px;
}
    .card-title{
        font-size: 20px;
    }

    .disc{
        color: #737373;
        font-size: 14px;
        padding: 5px 13px;
    }


    .contact-details .phone,
    .contact-details .whatsApp {
        width: 156px;  
        font-size: 17px;
    }    


    .info{
     
        margin-bottom: -6px;
    }
    
.time{
    display: flex;
    font-size: 16px;
    color: #737373;
}
.address-time-icon img{
width: 12.18px;
height: 12.18px;
margin-left: 3px;
    margin-top: 5px;

}

.views{
display: flex;
font-size: 16px;
color: #737373;
position: absolute;
right: 220px;
justify-content: space-around;
align-items: center;
.number{
    font-size: 16px;
}
}
.address-views-icon{
    width: 11.18px;
    height: 11.18px;
    margin-left: 5px;
    margin-top: -7px;
}
.address-views-icon img{
width:12.62px;
height: 12.59px;
color: #737373;

}

.time .number {
    display: flex;
    margin-left: 5px;
}

.price {
    margin-left: -8px;
    font-size: 16px;
    color: #00416B;
    
}

}
.fallback-adds ,.fallback-regular{
    display: none;
}



@media (max-width:958px) {
    .premuim-add.fallback-origin ,
    .regular-origin{
        display: none;
    }

    .premium-title{
        margin-right: 0;
    }
     .fallback-adds{
         display: flex;
         width: 80vw;
         height: 262px;
         align-items: center;
         
       .estat-details{
           margin-right: 0;
           padding-right: 0;
       }
      .details{
        display: grid;
        grid-template-columns: 130px 150px;
        padding-left: 47%;
        padding-bottom: 69px;
      }

      .img-add{
          margin-right: 0;
          img{
            width: 95px;
            height: 95px;
          }
      }

      .disc{
        width: 70vw;
        margin-top: -54px;
        padding-left: 19px;
        margin-right:-74px
      }

      .contact-details{
        position: unset;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 37px;
      }
    }
  .fallback-regular{
      display: flex;
  }
    .regular {
        width: 80vw;
        height: 159px;
        .disc{
            margin-right: 13px;
            font-size: 15px;
        }
    }
    .regular .info {
        display: flex;
        right: 352px;
        position: absolute;
        top: 29px;}

        .regular .img-add {
            margin-top: 10px;
            margin-right: -62%;
        }

        .regular .estat-details {
          
                margin-left: 62%;
           

        }
         
  }

  @media (max-width:650px) {
    .fallback-adds{
    .details{
        display: grid;
        grid-template-columns: 130px 150px;
        padding-left: 20%;
        padding-bottom: 69px;
      }

      .contact-details .phone, .contact-details .whatsApp {
          margin-right: -50px;
          margin-bottom: 20px;
      }
      .views{
          margin-right: -10px;
      }
      .info{
          margin-right: -24px;
      }

       .disc{
        margin-right:-19px
       }
    }

    .regular {
        width: 80vw;
        height: 197px;
        .disc{
            margin-right:39px
           }
    }
    .regular .info {
        display: flex;
        right: 307px;
        position: absolute;
        top: 29px;}

        .regular .img-add {
            margin-top: 10px;
           margin-right: -37%;
        }

        .regular .estat-details {
          
            margin-left: 41%;                  

        }
  }


  @media (max-width:590px) {
    .regular {
        width: 80vw;
        height: 197px;
        .disc{
            margin-right:39px;
            font-size: 16px;
           }
    }
    .regular .info {
        display: flex;
        right: 250px;
        position: absolute;
        top: 29px;}

        .regular .img-add {
            margin-top: 10px;
           margin-right: -31%;
        }

        .regular .estat-details {
            margin-left: 41%;                  

        }
  }
  @media (max-width:482px) {
    .fallback-adds{
        width: 364px;
        height: 212px;
        min-width: 70vw;
        .details{
            display: grid;
            grid-template-columns: 130px 150px;
            padding-left: 0;
            padding-bottom: 59px;
          }
    
          .contact-details .phone, .contact-details .whatsApp {
              margin-bottom: 10px;
              width: 150px;
          }
          .contact-details .phone{
              margin-right:-55px;
          }
          .contact-details .whatsApp{
            margin-right: -100px;

          }
          .info{
              margin-top: 10px;
              margin-right: -20px;

          }
          .price{
              margin-left: 3px;
              font-size: 14px;


          }
          .time{
              margin-right: -35px;
              font-size: 15px;

          }
          .views{
              margin-right: -80px;
              font-size: 15px;

          }
          .views .number{font-size: 15px;}
           .disc{
            margin-right:26px
           }

           .address{
               margin-right: -55px;
           }
           .card-title{
               margin-right: -54px;
           }
        }

        .banner .banner-title {
            font-size: 30px;
        }


        .regular {
            width: 364px;
            height: 104px;
            .disc{
                margin-right: -26px;
                font-size: 13px;
               }
               .card-title {
                   margin-top: 8px;
               }
        }
        .regular .info {
            display: flex;
            right: 183px;
            position: absolute;
            top: 14px;}
    
            .regular .img-add {
                margin-right: -148px;
                margin-top: 0px;

                img{
                    width: 53px;
                    height: 53px;
                }
            }
    
            .regular .estat-details {
              
                margin-left: unset;
                padding-right: 13px;
                margin-top: -5px;
                margin-right: unset;

    
            }

            .regular {
                .price {
                    margin-left: 0;
                    font-size: 14px;
                    margin-right: 32px;
                    color: #00416B;
                }
            }
            .fallback-adds .info{
                margin-top: 22px;
                margin-right: -53px;
            }

            .fallback-adds .contact-details {
                position: unset;
                justify-content: center;
                align-items: center;
         
                text-align: center;
                margin-top: 27px;
            }

            .contact-details .whatsApp {
                width: 167px;
                height: 29px;
                position: absolute;
                background-color: #00416B;
                right: 285px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: otfPlain;
                font-size: 20px;
                font-weight: normal;

            }
            .contact-details .phone {
                width: 193px;
                height: 29px;
                position: absolute;
                background-color: #00416B;
                right: 75px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: otfPlain;
                font-size: 20px;
                font-weight: normal;
            }

            .fallback-adds .disc {
                width: 90vw;
                margin-top: -54px;
                /* padding-left: 19px; */
                /* margin-right: -74px; */
            }

            .fallback-adds .img-add {
                margin-right: -33px;
            }

         
  }