


.estat-conianer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: otfPlain;
    padding-bottom: 50px;
    background-color:#F2F5F7;
    padding-top: 80px;
}


.header-estat{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.info-estate{
display: flex;
align-items: center;
width: 880px;
justify-content: space-between;
margin-bottom: 15px;


}

.estat-address h3{
    font-size: 28px;
    font-family: otfPlain;
    color: $main-color;
    margin-bottom: 8px;
}

.estat-address h5{
    font-size: 20px;
    color: $main-color;
    font-family: otfPlain;
    img{
    margin-right: 5px;
    width: 15px;
    height: 18px;

    }
}

.disc-estate{
    font-size: 20px;
    color:#737373 ;
    width: 913px;
    font-family: otfPlain;
    margin-bottom: 20px;

}

.content-estat{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    margin-bottom: 30px;
}
.first-line,.second-line{
    display: flex;
}

.fav-estat{
width: 27px;
height: 25px;
cursor: pointer;
 img{
    width: 25px;
    height: 25px;
}
}

.estat-deatils{
    width: 211px;
    height: 47px;
    background-color:#E6ECEF ;
    color: $main-color;
    font-size: 24px;
     border-radius: 10px;
     padding: 5px 10px;
     margin-right: 29px;
     padding-left: 20px;
     margin-bottom: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-family: otfPlain;
     font-weight: 600;
    text-align: right;
    .att{
        font-size: 20px;
        color: #737373;
        position: relative;

      &::after{
          content: "|";
          position: absolute;
          left: -18px;
    

      }
    }
}

.automated-number{

 
width: 439px;
height: 47px;
margin: 5px auto;
justify-content: space-evenly;
text-align: center;
.autom-value{
margin-right: 80px; }



}



.estat-map{
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
margin-bottom: 40px;
border-radius: 10px;
border:2px solid #737373 ;
border-radius: 20px;
}

.estat-map >* div{
    border-radius: 20px;
    padding: 0;
}

.contact-estate{
   background-color: #E6ECF0;
    color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
 
    .whatsApp {
        width: 173px;
        height: 41px;
        background-color: $main-color;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: otfPlain;
        font-size: 20px;
        margin-left: 30px;

        .whatsApp-icon img{
            width: 21px;
            height: 21px;
            margin-left: 6px;
            margin-top: 6px;
          
        }
    }
    .phone{
        width: 173px;
        height: 41px;
  
        background-color: $main-color;
  
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: otfPlain;
        font-size: 20px;
        .address-phone img{
            width: 15px;
            height: 14px;
            margin-left: 6px;
            margin-top: 6px;
        }
        
    }


 
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color:#F2F5F7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  
  }
  
  
  .swiper {
    /* margin-left: auto; */
    /* margin-right: auto; */
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    height: 85vw;
    z-index: 1;
    width: 90vw;
    border-radius: 28px;
    margin-bottom: 10px;
  }
  
  .swiper-slide img {
    display: block;
    width:90vw;
    height: 68vh;
    object-fit: cover;
    border-radius: 10px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    z-index: 10;
  }
  
  
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background: $main-color;
  }
  
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
  {
    background: $second-color;
  
  }


  .map-copy{
      display: none;
  }

  .estat-fallback{
display: none;
}
@media (max-width:983px) {
    .info-estate{
        width: 80vw;
    }

    .disc-estate{
        font-size: 15px;
        width: 90vw;
    }

    .estat-map{
        width: 80vw;
    }

    .content-estat {
        width: 95vw;
        margin-top: 5px;
    }

    .estat-deatils {
        font-size: 17px;
    }
}
.update-slider{
    display: none;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
   {
       bottom: -1%;
   }
@media (max-width:680px) {

    .update-slider{
        display: block;
    }
    .mainImg{

        margin-top: unset;
    }

    .tumbnail, .slideshow-two{
        display: none;
    }

    .slideshow-two .currentImg {
        width: 80vw;
        height: 80vw;
    }

    .slideshow{
        display: none;
    }
    .estat-deatils{
        font-size:17px
    }
 

    .estat-deatils{
    width: 175px;
    height: 47px;
    background-color: #E6ECEF;
    color: #00416B;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 29px;
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: otfPlain;
    font-weight: 600;
    text-align: right;
    }

    .automated-number {
        width: 235px;
    }

    .estat-deatils .att {
        font-size: 17px;
    }

    .estat-address h5 img{
        width: 12px;
        height: 12px;
    }

    .estat-address h3{
        font-size: 25px;
    }

    .estat-address h5{
        font-size: 16px;
    }
}

@media (max-width:570px) {
    .swiper-slide img{
        height: 50vh;
    }
    .swiper{
        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal    {
            bottom: -1%;
        }
    }
 
}

@media (max-width:428px) {
    .estat-deatils{
        font-size:17px
    }
 

    .estat-deatils{
    width: 175px;
    height: 47px;
    background-color: #E6ECEF;
    color: #00416B;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 29px;
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: otfPlain;
    font-weight: 600;
    text-align: right;
    margin-right:10px
    }

    .estat-fallback{
    display: grid;
    grid-template-areas: 
            "city        spa"
            "price       desti"
            "phone  phone";

    justify-content: center;
    align-items: center;
    }

    .estat-origin{
        display: none;
    }

    .automated-number {
        width: 283px;
        grid-area: phone;
        margin-right:48px
    }

    .city{
        grid-area: city;

    }
    
    .space{
        grid-area: spa;

    }

    .destination{
        grid-area: desti;

    }

    .price{
        grid-area: price;
    }
    .disc-estate{
        font-size: 14px;
        padding-right: 10px;
    }

    .estat-address h3{
        font-size: 22px;

    }
    
    .estat-address h5{
        font-size: 14px;
    }

    .info-estate {
        width: 90vw;
        margin-top: 32px;
    }


    .swiper{
 
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    height: 100vw;
    z-index: 1;
    width: 100vw;
    border-radius: 28px;
    margin-bottom: 10px;
    margin-top: -78px;
    }

    .fav-estat img {
        width: 20px;
    height: 18px;
    }

    .estat-map{
        width: 90vw;
    }

    
  .map-copy{
    display: block;
}

.map-origin{
    display: none;
}

.contact-estate .whatsApp,
.contact-estate .phone {
    width: 155px;
    height: 32px;
    font-size: 18px;

}

.contact-estate .whatsApp .whatsApp-icon img {
    width: 17px;
    height: 19px;
    margin-left: 6px;
    margin-top: 4px;
}


.estat-conianer{
    padding-top: 110px;
}
}