.forget-contanier{
    width: 100%;
    height: 100vw;
    background-color: $background-color;
    display: flex;
    justify-content: flex-start;
    align-items:center;

    .forget-btn{
        width: 540px;
        height: 72px;
        color: #fff;
        background-color: #EDAA43;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 40px;
       

    }

    .forget-input{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .forget-input-contanier input{
        width: 540px;
        height: 72px;
        background-color: #f2f5f7;
        padding: 15px 15px;
        margin-top: 5px;
        font-size: 28px;
        border: 2px solid #00416B;
        color: #00416B;
        outline: none;
        padding-right: 30px;
        border-radius: 10px;
    }
    }


.forget-heading{
    font-size: 26px;
    color: #EDAA43;
    font-family: otfPlain;
}



@media (max-width:700px) {

    .forget-input{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .forget-heading,.forget-input-contanier input,.forget-input-contanier h3{
        font-size: 18px;
    }

    .forget-contanier {
        .forget-btn,.forget-input-contanier  input{
            width: 80vw;
        }
       
    }
  
}

