.actions-contaier{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: otfPlain;

}

.actions{
width: 986px;
height:143px ;
background-color: #F2F5F7;
display: flex;
justify-content: space-evenly;
align-items: center;
border-radius: 10px;
margin-top: -73px;
flex-wrap: wrap;
box-shadow: 0px 0px 6px 3px rgb(1 1 1 / 30%);

}

.action{
    width: 274px;
    height: 67px;
    color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background-color: #E6ECEF;
    border-radius: 10px;
    cursor: pointer;
    font-family: otfPlain;
    font-weight: 600;
}

.action:hover{
    background-color: #EDAA43;
    color: #fff;
}
.actions.showBox{
height: 273px;
padding-top: 20px;
}


.actions .acitveAction{
    background-color: $second-color;
    color: #ffff;
}
.serarch{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 cursor: pointer;
}


.second{
    margin-left: -8px;
    width: 324px;
    height: 62px;
 }
 .first{
    margin-left: 31px;
    padding-right: 32px;
 }

.btnSearch button{
background-color: $second-color;
width: 189px;
height: 62px;
font-size: 24px;
outline: none;
border: none;
border-radius: 10px;
color: #fff;
margin-left: 41px;
margin-right: 29px;
font-family:otfPlain ;
}
.dropdwon-menu{
    border: 2px solid $main-color;
    border-radius: 10px;
    padding: 10px;
    width: 324px;
    height: 62px;
    position: relative;
    z-index: 10;
   ul{
    border: 1px solid;
    width: 326px;
    background: $main-color;
    color: #fff;
    padding: 17px 0px;
    position: absolute;
    right: -3px;
    border-radius: 10px;
    top: 61px;

   
   }
}

.list-items.hidden{
    display: none;
}
.dropdwon-menu li{
    font-size: 20px;
    font-family: otfPlain;
    margin-top: 6px;
    height: 34px;
    padding-left: 5px;
    padding-right: 14px
}

.dropdwon-menu li::after{
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    right: 292px;
    margin-top: 9px;
    border: 1px solid #fff;


}
.dropdwon-menu li::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    right: 296px;
    margin-top: 10px;
    background-color: #fff;
    display: none;
  
}



.dropdwon-menu li:hover,
.dropdwon-menu li.selected{
    font-size: 20px;

    margin-top: 6px;
    background-color: $second-color;

}
.dropdwon-menu li:hover::before,
.dropdwon-menu li.selected::before{
    
   display: block;

}
.dropdwon-menu li:hover::after,
.dropdwon-menu li.selected::after{
    font-size: 20px;

    margin-top: 6px;
    padding: -1px;
    
}
.placeholder{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    margin-top: 5px;
    font-size: 20px;
    color: #A5A5A5;
    margin-right: 15px;
}

.serach-content{
  
    margin-left: 23px;
    display: flex;
    justify-content: flex-start;
}
.serarch-icon{
    margin-left: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.serarch-icon img{
    
    margin-top: 10px;

}
.bar-icon img{
    
    margin-top: 0;
    margin-right: 0;
    margin-left: -8px;

}

.arrow-drop-name,
.arrow-drop{
    position: absolute;
    right: 291px;
    top: 25px;
}

.dropItem h3{
    color: #EDAA43;
    font-size: 17px;
    padding: 5px 10px;
    height: 62px;
    margin-bottom: -22px;
    margin-top: -10px;
   
}

.typeImg{
    padding-left:5px;

    img{
        width: 20px;
        height: 20px;
        object-fit: cover;
    }



}


.ltr{
  


    .arrow-drop-name, .arrow-drop{
        right: 18px
    }

    .serach-content{
    margin-left: -7px;
    flex-direction: row;
    justify-content: flex-start;
    }


    .dropdwon-menu li {
        display: flex;
    }

    .dropdwon-menu li::after{
        right: 25px;
    }


    .typeImg{
        padding-right: 10px;
    
    }

    .dropItem h3 {
    text-align:left ;
    }

    .dropdwon-menu li::before{
        right: 8.3%;
    }

}





@media (max-width:1600px) {

     .second {
        margin-left: 12px;
        width: 336px;
        height: 62px;
     }
 .ltr .second{
     margin-left: -11px;
 }
.dropdwon-menu {

    padding: 10px;
    width: 336px;

}

.dropdwon-menu ul {
    border: 1px solid;
    width: 336px;
    background: #00416B;
    color: #fff;
    padding: 17px 0px;
    position: absolute;
    right: -3px;
    border-radius: 10px;
    top: 61px;
}
.dropdwon-menu li::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    right: 91.3%;
    margin-top: 9px;
    border: 1px solid #fff;
}
.dropdwon-menu li::before {
    right: 92.3%;

    }

.dropdwon-menu li {
    font-size: 16px;
 }

 .arrow-drop-name,
.arrow-drop{
    position: absolute;
    right: 298px;
    top: 25px;
}
}

@media (max-width:958px) {
    .actions{
        width: 90vw;
       flex-wrap: wrap;
       min-width: 400px;

        .action{
            width: 25vw;
            min-width: 15vw;
        }
    }

    .actions.showBox{
        height: 353px;
    }
    .serarch{
        flex-direction: column;
        margin: 10px auto;
        justify-content: center;
        align-items: center;

        .first{
        padding-left: 10px;
        margin-right: 55px;
        margin-left: 0;
        padding-right: 0;
        margin-top: 10px;
        width: 364px;
         
        }

        .second{
            padding-left: 0;
            margin-right: 55px;
            margin-left: 0;
            padding-right: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 364px;

        }
    }
    .dropdwon-menu li::before {
        right: 92.3%;
    }
    
    
    .dropdwon-menu{
        width: 324px;
    }
    .dropdwon-menu ul {
        width: 327px;

        position: absolute;
    
    }

    .arrow-drop-name, .arrow-drop{
        right: 296px;
    }
    .btnSearch button{
        margin-right: 0;
        margin-left: 0;
    }


  

    .ltr .serarch .second {
        margin-right: 34px;
    }

    .ltr .search-div{
        margin-right: -87px;
    }

    .ltr .btnSearch button {
     margin-left: -81px;
     width: 285px;    
    }

       
  .actions-contaier{
    .actions{
      margin-top: 0;

      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   
       
    }
  }

  .ltr .actions-contaier .actions{
    padding-right: 121px;
}

}

@media (max-width:800px) {

    .ltr .actions-contaier .actions{
        padding-right: 92px;
        padding-left: 10px;    }

    
}

@media (max-width:500px) {
    .ltr .actions-contaier .actions{
        padding-right: 23px;
        padding-left: 10px;    }
    
}
  @media (max-width:428px) {
    .dropdwon-menu ul {
        width: 85vw;
        z-index: 1000;
        position: absolute;
    }

      .actions{
          .action{
              width:114px;
              height: 47px;
              font-size:24px    
                  }
      }

      .btnSearch button{
          width:364px;
          height:62px;
          font-size:24px
      }
      .dropdwon-menu{
          width:364px;
          margin-right: -27px;
       
      }

      .arrow-drop-name, .arrow-drop{
          right:323px
      }


      .ltr .search-div {
        margin-right:-6%;
    }


    .serarch div{
        width: 85vw;
    }


    .ltr .btnSearch button {
        margin-left: 13%;
        width: 53vw;
      
    }
    .ltr .actions-contaier .actions{
        padding-right: 12px;
        padding-left: 10px;    }
  
  }


  @media (max-width:380px) {
      .search-div,
      .ltr .search-div {
         margin-right:unset;
          margin-left: unset;
          padding-left: unset;
          padding-right: unset;
      }
      .serarch div{
          width: 75vw;
      }
      .serarch .first,.serarch .second,
      .ltr .serarch .second,.ltr .first {
        margin-right:unset;
        margin-left: unset;     
        padding-left: unset;
        padding-right: unset; 
        width: 75vw;
        
    }
    .dropdwon-menu ul {
        width: 75vw;
    }

    .arrow-drop-name, .arrow-drop {
        right: 89%;
    }
    
    
  }


//   @media (max-width:370px) {
       
//     .actions-contaier{
//       .actions{
//         margin-top: 0;
//         width: 50%;
//         flex-direction: column;
//         height: 70vw;      
//         margin-right: 0;
//         padding-left: unset;
//         padding-right: unset;
//         margin-left: unset;
//       }
    
  
//     }
  
//     .service{
//       margin-right: 0;
//       padding-left: unset;
//       padding-right: unset;
//       margin-left: unset;
//     }
//     .actions div{
//       margin-top: 5px;
//     }
//     }