.packge-contaier{
    background-color: #F1F4F6;
    border-top: 1px solid $main-color;
    padding: 30px;
    width: 100%;
    height: 100vh;
    font-family: otfPlian;

    .overlay::after{
        content: "";
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        background-color: rgba($color: #000, $alpha: 0.4);
        width: 100%;
        height: 100vh;
        z-index: 1;
      }
}

.packge-heading{
    font-size: 28px;
    color: $second-color;
    font-family: otfPlain;
    align-self: flex-start;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 8%;
    


}



.packge-img img{
object-fit: cover;
  
  }






.pakges{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
}

.packge{
    width: 914px;
    height: 132px;
    background-color: #F2F5F7;
    border: 1px solid #737373;
    border-radius: 10px;
    margin: 8px;
    display: grid;
    grid-template-columns:  112px 600px 195px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    position: relative;

}


.packge-info{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.packge-name{
    color: $main-color;
    font-size:20px ;
    margin-right: -57px;
    font-family: otfPlain;
    margin-bottom: 10px;
    font-weight: 900;
    
    
}

.packge-type{
    color: $second-color;
    font-size: 23px;
    width: 151px;
    margin-right: 23px;
    font-family: otfPlain;

}
.packge-img img{
  width: 111px;
height: 111px;
border-radius: 10px;
cursor: pointer;

}
.packge .type{
    display: flex;
    margin-right: 10px;
}




.add-type span{
    padding: 4px;
}
.add-type{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
width: 109px;}
.subscribe-type{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  
}

.add-type-first,
.add-type-second{
    width: 344px;
    height: 39px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #737373;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: otfPlain;
    font-weight: 600;

}

.subscribe-type .subscribe-btn{
    color: #fff;
    background-color: $second-color;
    width: 137px;
    height: 39px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: otfPlain;


}

.single-packge{

    width: 818px;
    height: 868px;
    background-color: $main-color; 
    padding:20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    h3{
        font-size: 29px;
        color: #fff;
        padding: 0px 80px;
       font-family: otfPlain;
        padding-top: 7px;
        z-index: 2;

    }
    .packge-img{
        width: 621px;
        height: 622px;
        margin-top: 38px;
        margin-bottom: 21px;
        align-self: center;
        border-radius: 10px;
        z-index: 2;

    }

    .btn-packge{
        width: 620px;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: $second-color;
        font-size: 25px;
        border:none;
        outline: none;
        border-radius: 10px;
        align-self: center;
        cursor: pointer;
        font-family:otfPlain;
      font-weight: 600;
      z-index: 2;

    }



}

.add-type.hide{
    display: none;
}



.ltr{
   



    .packge{
        grid-template-columns: 112px 600px 195px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row-reverse;

     .type {
        display: flex;
        flex-direction: row-reverse;
        margin-right: -5px;
    }
    }
    .packge-type{
        margin-right: -10px;
        text-align: left;
    }


   
    .packge-info{
        align-items: flex-start;
        margin-right: -258px;
        }
    .packge-name{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

@media (max-width:1600px) {
    .packge-contaier{
        height: 100%;
        width: 100vw;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 180px;
    }

 
    .single-packge{
        width: 508px;
        height: 568px;
        background-color: $main-color; 
        padding:15px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 4px;
        h3{
            font-size: 18px;
            color: #fff;
            padding: 0px 40px;
           font-family: otfPlain;
            padding-top: 15px;
            font-weight: 600;
            font-weight: 600;
        }
        .packge-img{
            width: 411px;
            height: 402px;
            margin-top: 22px;
            margin-bottom: 21px;
            align-self: center;
            border-radius: 10px;
            cursor: pointer;
        }
    
        .btn-packge{
            width: 401px;
            height: 46px;
            font-family:otfPlain;
            font-size: 18px;
         
    
        }
    }

    .add-type-first,
    .add-type-second{
    width: 274px;
    height: 39px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #737373;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: otfPlain;
    font-weight: 600;

}
.subscribe-type .subscribe-btn{
    color: #fff;
    background-color: $second-color;
    width: 127px;
    height: 39px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: otfPlain;


}


.ltr{
    .packge-heading{
 align-items: flex-end;
 margin-left: 8%;
     
    }
}
    
}



@media (max-width:942px) {
 



    .subscribe-type, .add-type.show{
        display: none;
    }
    .add-type.hide{
        display: flex;
        cursor: pointer;
    }

    .packge{
        width: 70vw;
    height: 132px;
    background-color: #F2F5F7;
    border: 1px solid #737373;
    border-radius: 10px;
    margin: 8px;
    display: grid;
    grid-template-columns: 112px 600px 195px;
    justify-content: flex-start;
    align-items: center;
    min-width: 60vw;
    margin-bottom: 20px;
    }
    
    .add-type-first, .add-type-second{
        width: 25vw;
    height: 39px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #737373;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-family: otfPlain;
    font-weight: 600;
    }
    .add-type {
        display: flex;
        flex-direction: column;
        width: 248px;
    
    }

    .single-packge {
        width: 67vw;
        height: 88vh;
        background-color: #00416B;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1000;
        transform: translate(-50%, -50%);
        border-radius: 4px;
    }


      
}

// @media (max-width:738px) {
//     .add-type {
//         display: flex;
//         flex-direction: column;
       
//     }


  
// }

@media (max-width:605px) {
.packge {
    width: 364px;
    height: 170px;
}


.packge-type {
    color: #EDAA43;
    font-size: 18px;
    width: 119px;
    margin-right: 23px;
    font-family: otfPlain;
}

.packge-img img {
    width: 111px;
    height: 111px;
    border-radius: 10px;
    cursor: pointer;
}


.add-type-first, .add-type-second {
    width: 183px;
    height: 29px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #737373;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-family: otfPlain;
    font-weight: 600;
}

.packge-name {
    color: #00416B;
    font-size: 14px;
    margin-right: -57px;
    font-family: otfPlain;
    margin-bottom: 5px;
    font-weight: 900;

}


.add-type {
    display: flex;
    flex-direction: column;
    margin:unset;
    bottom: 196px;
    /* position: absolute; */
    margin-top: 85px;
}

.packge-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -68px;
}

.single-packge {
    width: 95vw;
    height: 88vh;
    background-color: #00416B;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}





}

@media (max-width:428px) {
    .single-packge {
        width: 100vw;
        height: 69vh;
        background-color: #00416B;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1000;
        transform: translate(-50%, -50%);
        border-radius: 4px;

       
    }

    .single-packge .packge-img{
        width: 80vw;
        height: 50vh;
    }

    .add-type-first, .add-type-second{
        font-size: 14px;
        border-radius: 5px;
    } 

    .packge-name 
    {
        font-size: 15px;
    }

    .packge-type
    {
        color: #EDAA43;
    font-size: 20px;
    width: 129px;

    font-weight: 600;
    font-family: otfPlain;
    }

    .signin-contanier .password img {
        right: 90%;
        width: 19px;
        height: 14px;
        top: 88px;
    }
}