.adds-container{
    width: 914px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1{
        margin-bottom: 20px;
        margin-top: 20px;
        color: #00416B;
        font-size: 24px;
        font-weight: 600;
        font-family: otfPlain;
    }

    .adds-btn{
        align-self: center;
        justify-content: center;
        img{
            margin-right: 2px;
        }
    }
}

.ltr .adds-container .prem-contanier{
    .detials{
        .price,.time,.views{
        margin-left: unset;
        margin-right: 20px;

   

        }

         .time{
            width: 62px;
            margin-right: 3px;
        }

        .price{
       
            width: 59px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .time,.views{
           
            img{
                padding-left: 2px;
            }
        }
    }

    .info-prem {

    padding-left: 12px;
}


 
}

.ltr .info-prem{
    padding-left: 9px;
}


.prem-contanier{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 914px;
    height: 172px;
    background-color: #F2F5F7;
    border: 1px solid #00416B; 
    padding: 15px 12px;
    font-weight: 600;
    cursor: pointer;
    font-family: otfPlain;
    border-radius: 10px;
    position: relative;
    margin-bottom: 15px;






}


.ad-contanier{
    flex-direction: row;
    height: 122px;
    padding-bottom: 2px;

    .info-prem {
   
        width: 617px;
        padding-left: 10px;
    }

    .desc-prem {
    color:#737373;
    width: 750px;
   
}

.detials{
   
    display: flex;
    align-items: flex-start;
    color:#737373;
    font-size: 14px;
    margin-top: -55px;
    width: 186px;
    .number,img{
        margin-left: 3px;
    }
    
  .time,.price{
        padding-top:10px;
        margin-left: 20px;
        img{
            padding-left: 2px;
        }
    }
    .price{
        color: #00416B;
    
    }



}

 

}
.ltr .adds-container .adds-btn img {
margin-right: 10px;
}


.ad-second{
    display: none;
}
.ad-main{display: flex;}




.first-prem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.img-prem{
    width: 93px;
    img{
        width: 93px;
       height: 93px;
       object-fit: cover;
       border-radius: 5px;
    }
}


.info-prem{
    width: 400px;
       padding-right: 10px;
       align-self: flex-start;

       .title{
           color: #00416B;
           font-size: 24px;
           font-weight: 600px;
       }
       .address{
       
            font-size: 12px;
            padding-top: 5px;
            display: flex;
            padding-bottom: 9px;
            align-items: center;
            color: #737373;
    
           img{
               padding-left: 2px;
           }
       }
    .detials{
        display: flex;
        align-items: flex-start;
        color:#737373;
        font-size: 14px;
        
        .price,.time,.views{
            padding-top:7px;
            margin-left: 20px;
            padding-bottom: 10px;
            img{
         
                padding-left: 2px;
            }
        }

        .price{
            color: #00416B;
        }

    }

}

.prem-contanier .detials {
    span,.number{
        margin-right: 2px;
    }
}

.contact-prem{
    display: flex;
    align-items: flex-start;
    align-items: center;
    color:#fff;
   
        .whatsApp {
            width: 167px;
            height: 29px;
            background-color: $main-color;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: otfPlain;
            font-size: 20px;
            margin-right: 10px;
         
    
            .whatsApp-icon img{
                width: 20px;
                height: 20px;
                margin-left: 10px;
                margin-top: 6px;
                margin-right: 9px;

              
            }
        }
        .phone{
            width: 167px;
            height: 29px;
            background-color: $main-color;
              border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: otfPlain;
            font-size: 20px;
            margin-right: 10px;
            .address-phone img{
                width: 16px;
                height: 15px;
                margin-left: 10px;
                margin-top: 6px;
            }
            
        }

    

        
        .ad-contanier .detials{
            display: flex; 
            align-items: flex-start;
            color: #737373;
            font-size: 14px;
            margin-top: -71px;
            width: 166px;
            margin-right: -30px;
            
            
        }
    
}


.ltr .contact-prem .phone{
    margin-left: -4px;
}

.contact-prem.main{
    display: flex;
}

.contact-prem.secondAdd{
    display: none;
}

.second-prem{
    color:#737373;
    font-size: 14px;
}

.prem-word{
    position: absolute;
    color:#fff;
    width: 62px;
    height: 28px;
    font-size:14px;
    background: #00416B;
    border-radius: 5px;
    top: -8px;
    left: -9px;
    font-weight: normal;
    text-align: center;
    padding-top: 5px;

}

.ltr .prem-word{
    left: 94.2%;

}

.ltr .adds-container .adds-btn span{
    padding-left: 6px;
}


.ltr .contact-prem .phone {

    .address-phone img {
        width: 16px;
        height: 15px;
        margin-right: 10px;
        margin-top: 6px;
    }
    
}

.ad-contanier .detials .time{
    width: 62px;
    margin-right: 3px;
}

.ad-contanier .detials .price{

    width: 59px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
// .ltr .contact-prem .whatsApp .whatsApp-icon img{
//     margin-right: 10px;
// }



// .ad-contanier .detials{
//     width: 163px;
// }


@media (max-width:970px) {
    .adds-container{
        width: 700px;
      align-items: center;
      justify-content: center;

      h1{
          align-self: flex-start;
          justify-self: flex-start;
      }
    }

    .prem-contanier{
        width: 714px;
    }

    .info-prem{
        width: 231px;
        align-items: center;
    }
    .ad-contanier .info-prem {
        width: 451px;
        align-items: center;

    }
    .ad-contanier .desc-prem {
        width: 550px;
        font-size: 14px;
    }


    .second-prem{
        font-size: 12px;
        width: 100%;
    }

    .ad-contanier .detials{
        width: 174px;
       margin-right: -33px
    }


    .ltr .prem-word{
        left: 93%;
    
    }
}
    


@media (max-width:780px) {
    .contact-prem.main{
        display: none;
    }
    
    // .ltr .contact-prem.secondAdd{
    //     display: flex;
    //     margin-top: 12px;
    //     width: 100%;
    //     justify-content: space-evenly;

    //     .phone,.whatsApp{
    //         margin-right: unset;
    //         margin-left: unset;
    //         width: 157px;
    //     }
    // }
    .contact-prem.secondAdd{
     
        display: flex;
        margin-top: 14px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
           &> div{
               margin-left: 5px;
           }
        // .phone,.whatsApp{
        //     margin-right: unset;
        //     margin-left: unset;
        //     width: 157px;
        // }
    }

// .contact-prem.secondAdd.serv{
//     display: flex;
//     margin-top: 14px;
//     width: 100%;
//     align-items: center;
//     justify-content: space-between;
//      margin-right: 10px;
//     .phone,.whatsApp{
//         margin-right: unset;
//         margin-left: unset;
//         width: 157px;
//     }
// }

// .ltr .contact-prem.secondAdd.serv{
//     display: flex;
//     margin-top: 14px;
//     align-items: center;
//     justify-content: space-between;
//   margin-right: 10px;
//     .phone,.whatsApp{
//         margin-right: unset;
//         margin-left: unset;
   
//     }}

    .prem-contanier {
        width: 568px;
        height: 218px;

    }
    .ad-contanier{
        height: fit-content;
    }

    .ad-contanier .info-prem {
        width: 297px;
        
    }

    .ltr .ad-contanier .info-prem {
        width: 275px;
    }


    .ad-contanier .desc-prem {
        width: 141%;
        font-size: 14px;
    }   

 .adds-container{
     width: 572px;
 }
 .ltr .prem-word{
    left: 91%;

}
// .ltr .contact-prem.secondAdd {
//     display: flex;
//     margin-top: 12px;
//     width: 90%;
//     justify-content: space-between;
// }
}


@media (max-width:636px) {
    .adds-container{
        width: 80vw;
    }
.prem-contanier {

    width: 415px;
    height: 235px;
}
.second-prem {
    font-size: 12px;
}

.info-prem .title{
    font-size: 19px;
}


.info-prem .address {
    font-size: 11px;
}

.info-prem .detials span {
    font-size: 11px;
    padding-top: 5px;
}

.ad-contanier{
    width: 464px;
    height: 124px;
        
}


.ad-contanier .desc-prem {
    width: 295px;
    font-size: 12px;
}


.ltr .ad-contanier .info-prem,
.ad-contanier .info-prem
{
width: 187px;
}



.ad-contanier .desc-prem.main {
    display: none;
  }

   .ad-contanier .desc-prem.secondAdd{
      display: unset;
  }

  .ad-contanier{
    width: 461px;
    height: fit-content;
    .img-prem img,.img-prem{
        width: 60px;
        height:60px
    }
}

.ltr .ad-contanier .detials{
  

    display: flex;
    align-items: flex-start;
    color: #737373;
    font-size: 12px;
    margin-top: -51px;
    width: 170px;
    margin-right: -23px;
    margin-left: 36px;

}
.ad-contanier .detials{
    display: flex; 
    align-items: flex-start;
    color: #737373;
    font-size: 12px;
    margin-top: -71px;
    width: 166px;
    margin-left: -25px;
}



.ltr .prem-word{
    left: 87%;

}

// .ltr .contact-prem.secondAdd {
//     display: flex;
//     margin-top: 12px;
//     width: 330px;
//     justify-content: space-between;
// }

}



.ad-second .detials.detials-second-regular{
    display: none;
}
.ad-second .detials.detials-main-regular{
    display: flex;
}


@media (max-width:482px) {

    .adds-container{
       width: 100%;
        h1{
            font-size: 22px;
            margin-right: 9%;
        }
    }
     .prem-contanier{
       width:364px;
       height: 212px; 
     } 

    

    .ad-contanier .detials .time , 
    .ad-contanier .detials .price{
        font-size: 12px;
        
        img{
            width: 11px;
        }
    }
    .ad-contanier .info-prem {
        width: 189px;

    }

    .ad-contanier{
        width: 364px;
        height: 104px;

        h1{
            font-size: 20px;
            margin-right:5%;
        }
        .address{
            font-size: 12px;
            
        }
            
    }


    .ad-second{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .first-prem{
            align-items: flex-start;
        }

             .detials .time, .ad-contanier .detials .price{
            margin-left: 10px;
            padding-right: 5px;
        }

            .desc-prem{
            width: 100%;
            font-size: 12px;
            padding-top: 5px;
        }

         .info-prem {
            width: 160px;
        }


         .detials {
            width: 144px;
            margin-top:-4px;
            margin-right:-16px
        }

     
    }
    .ad-main{display: none;}
   

    .ad-second .detials.detials-second-regular{
        display: flex;
    }
    .ad-second .detials.detials-main-regular{
        display: none;
    }

    
    .info-prem .detials{
        .phone{
            width:16px;
           height:14px;
        }    
    }


  
        .contact-prem .phone img{
            width:16px;
           height:14px;

        }
        .contact-prem .whatsApp img{
            width:19px;
           height:19px;
           font-size: 18px;

        }

            .whatsApp,.phone{
            padding-top: 2px;
            font-size: 18px; 
                }
        .ltr .phone{
            margin-right: 13px;
           font-size: 18px;

            
        }
        .ltr .whatsApp{
            padding-top: 2px;
            font-size: 18px;
        }
        .ltr .adds-container 
        {
            .adds-container .adds-btn{
               padding-right: 4px;
            }
            h1{
            text-align: left;
          margin-left:4%
    }

        .prem-contanier .prem-word{
            left: 85%;
        }

            }


        .ltr .ad-second .detials{
          width:110px;
          margin-right: unset;
          margin-left: unset;

        }

        .ad-contanier .detials span, .ad-contanier .detials .number{
            margin-right: 1px;
          margin-left: 1px;

        }
        .ltr .adds-container .ad-contanier .detials .price, .ltr .adds-container .ad-contanier
         .detials .time, .ltr .adds-container .ad-contanier .detials .views {
            margin-right: 1px;
            margin-left: 1px;
  
         }
     



        .ltr .ad-contanier .info-prem {
            width: 158px;
        }


        .ad-second .detials.detials-second-regular{
            display: flex;
    margin-right: -7px;
    margin-left: unset;
    margin-top: -9px;
    justify-content: space-between;
        }

        .ltr  .ad-second .detials.detials-second-regular{
            display: flex;
            margin-right: unset;
            margin-left: -5px;
            margin-top: -9px;
            justify-content: space-between;

        }

        .ad-contanier .detials .time, .ad-contanier .detials .price {
            margin-left: unset;
            margin-right: unset;
        }
        
    

        .ad-second .detials{
            width: 110px;
        }
        .ad-contanier{
            height: fit-content;
        }
        .ad-contanier .img-prem img, .ad-contanier .img-prem {
            width: 67px;
            height: 67px;
        }

        .ltr .ad-second .detials .time, .ad-second .ad-contanier .detials .price{
            margin-left: unset;
            margin-right: unset;
            padding-left: unset;
            padding-right: unset;

        }



        .contact-prem .phone .address-phone img,
        .contact-prem .whatsApp .whatsApp-icon img{
            width: 15px;
            height: 15px;
            margin-left: 0;
            margin-top: 6px;
            margin-right: -4px;
            
        }
       
        .contact-prem .whatsApp .whatsApp-icon img{
            width: 18px;
            height: 18px;

        }

        .contact-prem.secondAdd .phone, .contact-prem.secondAdd .whatsApp{
            margin-right: unset;
            margin-left: unset;
            width: 140px;
            padding: unset;
            padding-right: unset;
            padding-left: unset;
            display: flex;
            justify-content: space-evenly;
            font-size: 17px;
        
        }
        .ltr .contact-prem .phone .address-phone img{
      
            margin-right: -4px;
       
        }
        .contact-prem.secondAdd.serivce-contact{
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            margin: 10px auto;
        
        
        }

        .desc-prem
        {
            height: 48px;
        }

}


@media(max-width:380px){
    .adds-btn{
    width:69px
    }

    .prem-contanier {
        width: 316px;
        height: 215px;
    }

    .contact-prem.secondAdd .phone, .contact-prem.secondAdd .whatsApp {
        margin-right: unset;
        margin-left: unset;
        width: 130px;    
        font-size: 18px;
            
           .address-phone a,.whatsApp a{
            margin-bottom: 4px;
           }
    }
    .ad-contanier {
        height: 100px;
    }


    .ad-second .detials {
        width: 144px;
        margin-top: -4px;
        margin-right: -52px;
    }


 

    .ltr .contact-prem.secondAdd {
        justify-content: space-between;
        display: flex;
        margin-top: 12px;
        width: 290px;
        justify-content: x;
    }

    .ltr .contact-prem.secondAdd .phone, .ltr .contact-prem.secondAdd .whatsApp {
        margin-right: unset;
        margin-left: unset;
        width: 141px;
    }


    .ltr .ad-contanier .detials{
        margin-left: -51px;
    }

    .adds-container {
    width: 83%;
}

.prem-contanier.ad-contanier.ad-second{
    height: fit-content;

  
}

.contact-prem.secondAdd.serivce-contact{
    width: 100%;
}
.ltr .contact-prem.secondAdd.serivce-contact{
    width:100%
}
  

.ltr .prem-word {
    left: 84%;
}

}