.profile-container{
    background-color: $background-color;
    width:100vw;
    height:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 53px;
    flex-direction: column;
    position: relative;
 .profile-heading{
     font-size: 28px;
     color:$second-color;
     font-family: otfPlain;
     font-weight: 600;
     margin-bottom: 100px;
     align-self:flex-start ;
     padding-right: 46px;

 }
}


.subNav-items{
  display: flex;
  justify-content: center;
  align-items: center;


.subNav-item .sub-link{
    width: 190px;
    height: 72px;
    background-color: $main-color;
    border-radius: 10px;
    font-family: otfPlain;
    font-size: 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
     cursor: pointer;
     text-decoration: none;
     list-style: none;
     

}

.subNav-item .sub-link.active{
                background-color: $second-color;
                margin: 0;
                margin-right: 10px;

                font-weight: 600;
            }

} 

.office-heading-paragraph{
    font-size: 20px;
    font-family: otfPlain;
    font-weight: normal;
    color: #9F9F9F;
    width: 875px;
    height: 52px;
    margin-top: 20px;
    margin-bottom: 12px;
}



.office-logo{
        /* align-items: flex-start; */
        align-self: flex-start;
        margin-bottom: 29px;
        margin-top: 26px;
}




    .profile-tab {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
     
        height: fit-content;
      

.profile-tab-container{
    width: 100%;
    height: 100%;
    background-color: $background-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 31px;
    padding-right: 10px;
    padding-left: 0;
}
.profile-group input{
    width: 911px;
    height: 72px;
    position: relative;

}     

}

.profile-list-service.selected{
background-color: $second-color;
}



.sign-input.submit-logo button{
    color: rgb(255, 255, 255);
    width: 911px;
    height: 72px;
    background: rgb(0, 65, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: otfPlain;
    font-weight: normal;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;  
}


.addAdds-tab-container .addAdds-group input{
    position: relative;
}

.type-icon.city {
  left: 539px;
    top: 38.2% 
}

.profile-container .profile-heading {
    padding-right:11% ;
}

.ltr{
    .profile-container .profile-heading {
        padding-left:11%
    }

}


.ltr .add-service-stroke-city,.add-service-stroke-category{
    position: absolute;
    top: 75%;
    left: 95%;
}
.ltr .add-service-stroke-category{
    top: 73%;
    z-index: 2;
}
@media (max-width:1600px) {
    .profile-heading{
        padding-right:40px
    }
    .subNav-items .subNav-item .sub-link{
        width: 160px;
        font-size: 25px;   
    }

    .profile-tab{
        .category-icon {
            top: 32%;
            left: 19%;
             z-index: 10;

        
           
        }
        .type-icon {
               top: 26.8%;
            left: 19%;
            z-index: 10;
        }
    
        .type-icon.city {
            left: 19%;
            top: 37%;
        }
    
        
    } 

    .ltr .profile-tab{
        .category-icon {
         
            left: 80%;
             z-index: 10;

        
           
        }
        .type-icon {      
            left: 80%;
            z-index: 10;
        }
    
        .type-icon.city {
            left: 80%;
     
        }
    }

    .addAdds-tab-container .addAdds-heading h3{
        margin-right: 200px;
    }
    .office-heading-paragraph {
        margin-right: 206px;
    }
.add-service-stroke-city,.add-service-stroke-category{
    position: absolute;
    top: 75%;
    left: 5%;
}
.add-service-stroke-category{
    top: 73%;
    z-index: 2;
}
.ltr .add-service-stroke-city,.ltr .add-service-stroke-category{
    position: absolute;
    top: 75%;
    left: 95%;
}
.ltr .add-service-stroke-category{
    top: 73%;
    z-index: 2;
}




}



@media (max-width:1120px) {
    .subNav-items{
        flex-wrap: wrap;
        width: 100%;
        margin-top: 25px;

        li{
            margin-bottom: 20px;
        }
    }

    .profile-tab{
       .category-icon {
            top: 38.1%;
            left: 14%;
             z-index: 10;

        
           
        }
        .type-icon {
            top: 28.5%;
            left: 14%;
            z-index: 10;
        }
    
        .type-icon.city {
            left: 14%;
            top:  33.1%
        }   
    
        
    } 
   .ltr .profile-tab{
        .category-icon {
             top: 38.1%;
             left: 70%;
              z-index: 10;
 
         
            
         }
         .type-icon {
             top: 28.5%;
             left: 70%;
             z-index: 10;
         }
     
         .type-icon.city {
             left: 70%;
             top:  33.1%
         }   
     
         
     } 


}


@media (max-width:930px) {
    
     
     .profile-container .profile-heading{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    
  }


    .profile-tab .profile-group input {
        width: 70vw;
        position: relative;
    }

    .addAdds-tab-container .addAdds-group input{
        width: 70vw;
        position: relative;
    }


    .sign-input.submit-logo button{
        width: 70vw;
     
    }
      
    .profile-tab 
    .checksbox .chack-groub {
       margin-right: 0;             
    }
    .profile-tab .checksbox .chack-groub:last-child{
        margin-right: 0;
    }

    .addAdds-tab-container textarea{
        width: 70vw;
    }

   
    .profile-tab .dropdown-typeList,
    .profile-tab .dropdown-category, .profile-tab .dropdown-typeList{
        width: 70vw;
    

    }


    .addAdds-tab-container .addAdds-heading{
        align-self: center;
    }


    .profile-tab .category-icon {
        left: 18.5%;
        z-index: 3;
        top:  29.0%


    } 

     .profile-tab .type-icon
    {
        left: 18.5%;
        top: 33.9%;


    }.profile-tab .type-icon.city {
        left: 18.5%;
        top: 38.4%;


       
    }


    .ltr .profile-tab 
    {
        .category-icon {
            z-index: 3;
            top:  28.1%
    
    
        } 
    
        .type-icon
        {
            top: 32.5%
    
    
        } .type-icon.city {
    
            top: 36.8%
    
    
           
        }
    }

    .profile-tab .dropdown-typeList, .profile-tab .dropdown-category, .profile-tab .dropdown-typeList{
        width: 70vw;
    }

    .profile-tab .profile-tab-container {
        padding-right: 0;
    }
}



@media (max-width:730px) {
    
     
    .profile-container .profile-heading{
       width: 100%;
       display: flex;
       justify-content: flex-start;
       align-items: flex-start;
   
 }


   .profile-tab .profile-group input {
       width: 90vw;
       position: relative;
   }

   .addAdds-tab-container .addAdds-group input{
       width: 90vw;
       position: relative;
   }


   .sign-input.submit-logo button{
       width: 70vw;
    
   }
     
   .profile-tab 
   .checksbox .chack-groub {
      margin-right: 0;             
   }
   .profile-tab .checksbox .chack-groub:last-child{
       margin-right: 0;
   }

   .addAdds-tab-container textarea{
       width: 90vw;
   }

  
   .profile-tab .dropdown-typeList,
   .profile-tab .dropdown-category, .profile-tab .dropdown-typeList{
       width: 90vw;
   

   }


   .addAdds-tab-container .addAdds-heading{
       align-self: center;
   }


   .profile-tab .category-icon {
       left: 18.5%;
       z-index: 3;
       top:  29.0%


   } 

    .profile-tab .type-icon
   {
       left: 18.5%;
       top: 33.9%;


   }.profile-tab .type-icon.city {
       left: 18.5%;
       top: 38.4%;


      
   }


   .ltr .profile-tab 
   {
       .category-icon {
           z-index: 3;
           top:  28.1%
   
   
       } 
   
       .type-icon
       {
           top: 32.5%
   
   
       } .type-icon.city {
   
           top: 36.8%
   
   
          
       }
   }


   
}









@media (max-width:448px) {
   
          .profile-container{
            background-color: #f2f5f7;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 53px 13px;
            flex-direction: column;
            position: relative;
          }
     
     
    .profile-container .profile-heading{
            margin-bottom: unset;
            align-self: center;
            padding-right: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        
      }

      .ltr .profile-container .profile-heading{
        margin-bottom: unset;
        align-self: center;
        padding-right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
  }

      .addAdds-tab-container .addAdds-group input,

      .profile-tab .profile-group input {
            position: relative;
            width: 90vw;
            height: 62px;
        
    }
        .addAdds-tab-container textarea{
            width: 90vw;
            font-size: 20px;
            margin-right: 27px;
        }

    .profile-tab .map-adds {
        width: 90vw;

    }

 
    .profile-tab .checksbox .chack-groub,
    .profile-tab .checksbox .chack-groub:last-child {

        margin-right: unset;
    }
      
 

    .addAdds-tab-container .addAdds-heading h3{
  display: none;    }

    .profile-tab .dropdown-typeList, .profile-tab 
    .dropdown-category, .profile-tab .dropdown-typeList {
        width: 90vw;
        margin-right: 0;
        position: absolute;
        z-index: 2;
    }

    .sign-input.submit-logo button
    {

        width: 80vw;
        font-size: 20px;
        height: 62px;
        margin-right: 24px;
        margin-bottom: 5px;
    }

    .signin-contanier .sign-btn {

        font-size: 20px;
        height: 62px;
        margin-right: 21px;
        margin-bottom: 5px;
    }

    .office-heading-paragraph{
        width: 90vw;
        margin-right: 6px;
        margin-bottom: 20px;
        font-size: 14px;
    }
   

    .subNav-items .subNav-item .sub-link {
        width: 139px;
        height: 51px;
        font-size: 20px;
        font-weight: 400;
    }

    .addAdds-tab-container .map-adds
    {
        margin-top: 6px;
        margin-right: 0;
    }

    .profile-tab .checksbox .chack-groub span{
        font-size: 15px;
    }
   
    .profile-tab .checksbox .chack-groub:last-child{
        margin-top: 12px;
    }

    .profile-tab .checksbox .chack-groub,
     .profile-tab .checksbox .chack-groub:last-child
    {
        margin-right: 0;
    }

    .office-heading-paragraph {
        width: 90vw;
        margin-right: 651px;
        margin-bottom: 20px;
        font-size: 14px;
    }


    .ltr {
        .profile-tab .checksbox .chack-groub, .profile-tab
         .checksbox .chack-groub:last-child {
             margin-right: -10px;
         }

    }

    .ltr .profile-container .profile-heading {
        margin-left: 0;
    }

    .addAdds-tab-container textarea {
        margin-right: 0;
    }

    .signin-contanier.addAdds-tab-container .checksbox {
        width: 100%;
    }

    .ltr .add-service-stroke-category{
        left: 89%;
    }


    .ltr .profile-container .profile-heading {
        padding-left:0
    }
}


@media (max-width:380px) {
    .addAdds-tab-container .addAdds-group input,
     .profile-tab .profile-group input,
     .profile-tab .map-adds,
    .addAdds-tab-container textarea,
    .profile-tab .dropdown-typeList, .profile-tab 
    .dropdown-category, .profile-tab .dropdown-typeList {
 
        width: 96vw;
    }

    .signin-contanier .sign-input input {
        font-size: 24px;
    }
    
}

