.profile-container{
    background-color: $background-color;
    width:100%;
    height:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 53px;
    flex-direction: column;
 .profile-heading{
     font-size: 28px;
     color:$second-color;
     font-family: otfPlain;
     font-weight: 600;
     margin-bottom: 88px;
     align-self:flex-start ;
     padding-right: 290px;

 }

.profile-sections{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
    div{
        width: 190px;
        height: 72px;
        background-color: $main-color;
        border-radius: 10px;
        font-family: otfPlain;
        font-size: 28px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    cursor: pointer;
    }
    .active{
        background-color: $second-color;
    }
} 
.profile-tab{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
}

.profile-tab-container{
    width: 100%;
    height: 100%;
    background-color: $background-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 31px;
    padding-right: 10px;
    padding-left: 0;
}
.profile-group input{
    width: 911px;
    height: 72px;
}

}


     
.office-heading-paragraph{
    font-size: 20px;
    font-family: otfPlain;
    font-weight: normal;
    color: #9F9F9F;
    width: 875px;
    height: 52px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.showUploadedImage{
    width: 446px;
    height: 446px;
    align-self: flex-start;
    justify-content: flex-start;
}

.office-logo{
        /* align-items: flex-start; */
        align-self: flex-start;
        margin-bottom: 29px;
        margin-top: 26px;
}



.remove-img{
    bottom: -115px;
    position: absolute;
    left: 930px;
}