.addAdds-tab-container {

.addAdds-heading {
    align-self: flex-start;
    margin-right: -196px;
    margin-top: -20px;
    padding-bottom: 12px;
    h3{
        font-family: otfPlain;
        font-size: 28px;
        color: #EDAA43;
        font-weight: 600;
    }


}
.addAdds-group input{
        width: 911px;
        height: 72px;
        cursor: pointer;
        position: relative;
    }
   textarea{
    width: 911px;
    height: 150px;
    background-color: $background-color;
    padding:15px 15px;
    margin-top: 10px;
    font-size: 28px;
    border: 2px solid $main-color;
    color: $main-color;
    outline: none;
    padding-right: 30px;
      border-radius: 10px;
      position: relative;

   }
   .map-adds{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    border:2px solid #737373 ;
    border-radius: 20px;
    z-index: 2;

   }
   .map-adds >* div{
    border-radius: 20px;
    padding: 0;
    z-index: 1;
    
}
}


 .img-submite{
     width: 400px;
     height: 400px;
 }
    .remove-img {

        width: 15px;
        cursor: pointer;
        z-index: 10;
        top: -4px;
        position: absolute;
        left: 2px;
        
    
    
    }
    


.remove-img-serivce{
    position: absolute;
    left: 6px;
    width: 15px;
    z-index: 10;
    top: 4px;
}
.uploadedImage{
    margin: 0 10px;
}
.submit-imgs,.uploadedImage {
    width: 115px;
    height: 113px;
    background-color: #9AA1B1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: otfPlain;
    border-radius: 10px;
    img{
    
        margin-bottom: 10px;
    }
   }



   .wrrap-images{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       width: 70vw;
      div{
           margin: 5px;
           margin-right: 15px;
           cursor: pointer;
       }
   }
   .showUploadedImage{
    width: 446px;
    height: 446px;
    align-self: flex-start;
    justify-content: flex-start;
}



@media (max-width:428px) {
    
    .office-logo {
        position: relative;
    margin-right: 39px;
    .remove-img {
        width: 15px;
        cursor: pointer;
        z-index: 10;
        top: 3px;
        position: absolute;
        left: 5px;
    
       
       }
  
    }
    .img-submite,.showUploadedImage{
        width: 110px;
        height:120px;
        align-self: center;
        justify-content: center;
    
    }
   .submit-imgs{
    width: 120px;
    height:120px;
    background-color: #9AA1B1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: otfPlain;
    border-radius: 10px;
    img{
      
        margin-bottom: 10px;
        object-fit: cover;
    }
   }

//    .wrrap-images{
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        flex-wrap: wrap;
//          width: 70vw;
//          margin-right: 0;
       
//        div{
//            margin: 2px;
//        }
//    }

   .addAdds-tab-container {
    width: fit-content;
    height: 100%;
    display: flex;
    padding-left: 0;
    padding-right: 0;
}


// .ltr .wrrap-images{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
//     width: 272px;
//     margin-left: 28px;
//     margin-right: 0;
// }

.ltr .add-service-stroke-city, .ltr .add-service-stroke-category {
    left: 88%;
}

   
}
